* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.page-background {
    min-height: 100vh;
    background-image: linear-gradient(to right, #d3f8d3, #bcf5bc, #9bf09b);
}

.list-background {
    background-color: lightgray;
}

.list-background-completed {
    background-color: gray;
}

.pointer {
    cursor: pointer
}
